/* General styles */
:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --primary-white-color: #ffffff;
    --secondary-black-color: #000000;
    --accent-color: #2196F3;
    --button-active-color: #188CE8;
    --footer-bg-color: #2F303A;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --secondary-bg-color: #F5F4FA;
    --header-line-color: #ECECEC;
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: var(--main-font);

    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.14;
}

/* убираем точки списков */

.list {
    list-style: none;
}

/* убираем подчеркивание ссылок */

.link {
    text-decoration: none;
}

/* делаем активную страницу */

.nav-link.link.current {
    color: var(--accent-color);
}

/* скрываем заголовки h1 и h2 */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* глобальный сброс margin, padding */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

/* Header */

.header-logo,
.footer-logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--accent-color);
}

.header-logo-text {
    color: var(--secondary-black-color);
}

.nav-item .nav-link {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: inherit;
}

.header .link:hover,
.header .link:focus,
.header .link:active {
    color: var(--accent-color);
}

.contact-link {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

/* Section hero */

.hero {
    text-align: center;
    background-color: var(--footer-bg-color);
    color: var(--primary-white-color);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-btn {
    font-family: inherit;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-btn:hover,
.hero-btn:focus {
    background: var(--button-active-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.hero-btn.hero-btn-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
}

/* Section scills */

.scills-subtitle {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
}

.scills-text {
    color: var(--secondary-text-color);
    line-height: 1.71;
}

/* Section work */

.work-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* Section team */

.team {
    background-color: var(--secondary-bg-color);

}

.team-subtitle,
.team-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-subtitle {
    font-weight: 500;
}

.team-text {
    color: var(--secondary-text-color);
}

.team-item {
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

/* Footer */

.footer {
    background-color: var(--footer-bg-color);
    color: var(--primary-white-color)
}

.footer-logo-text {
    color: var(--primary-white-color);
}

.footer-address-contact {
    font-style: normal;
    line-height: 1.71;
}

.address-link {
    font-style: normal;
    line-height: 1.71;
    color: var(--footer-contact-color);
}

.footer .link:hover,
.footer .link:focus,
.footer .link:active {
    color: var(--accent-color);
}

/* Section portfolio */

.button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    background-color: var(--secondary-bg-color);
    color: inherit;
}

.button:hover,
.button:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

.filter-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
}

/* cards */

.card-subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.card-text {
    font-size: 16px;
    line-height: 1.88;
    color: var(--secondary-text-color);
}